<br />
<p>
	<form action="/new" method="POST">
		<h4>Add Your Name</h4>
		<textarea name="your_name" style="width: 900px" placeholder="Type your name here" class="form-control" rows="1"></textarea>
		<br />
		<h4>Add New Post</h4>
		<textarea name="content" style="width: 900px" placeholder="Type post text here" class="form-control" rows="9"></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>
